@model UBox.ViewModels.ProfileModel
@{
    ViewBag.Title = Model.user;
}


<link href="~/css/MyProfileStyle.css" rel="stylesheet" type="text/css" />

<div class="head_of_profile">
    <img />

</div>
<div class="line"></div>

<div class="my_profile_content">


    <div class="my_profile_content_info">
        <div class="my_profile_content_info_myIcon">
            <div class="my_profile_content_info_myIcon_avatar">
                <img src="@Model.imageAvatar" />
            </div>
            <div class="my_profile_content_info_myIcon_name">
                <p>@Model.user.UserName</p>
            </div>
            <div class="my_profile_content_info_myIcon_name_buttom">
                <a><div></div></a>
                @using (Html.BeginForm("Follow", "Profile", new { userName = Model.user.UserName }, FormMethod.Post))
                {
                        if (Model.isFollow == true)
                        {
                            <input type="submit" value="Відписатися" />
                        }
                        else
                        {
                            <input type="submit" value="Підписатися" />
                        }
                }

            </div>
        </div>
        <div class="my_profile_content_info_myStats">
            <div class="info_element">
                <p>Читачі</p>
                <span></span>
            </div>
            <div class="info_element">
                <p>Стежить</p>
                <span></span>
            </div>
            <div class="info_element">
                <p>Дописи</p>
                <span>@Model.posts.Count</span>
            </div>


        </div>

    </div>


    <div class="my_profile_content_posts">
        @{
            foreach (var el in Model.posts)
            {
                <div class="posts_element">
                    <div class="posts_element_content">
                        @{
                            if (el.FileType == ".mp4")
                            {
                                <video autoplay loop>
                                    <source src="@el.PostFilePath" type="video/mp4" />
                                    Ваш браузер не підтримує цей відео тег
                                </video>
                            }
                            else if (el.FileType == ".jpg" || el.FileType == ".png")
                            {
                                <img src="@el.PostFilePath" />
                            }
                        }
                    </div>


                    <p>@el.Description</p>
                </div>
            }
        }

    </div>
</div>